<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login Church Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../static/17/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/17/style17.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('../static/17/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="../static/17/registration-form-1.jpg" alt="">
                <div style="font-size: x-large;">If you don't have an account? <a style="text-decoration: none;" href="/"><em>Rgeister</em></a></div>

            </div>
            <form method="post">
                <h3>Login Form</h3>
                <div class="form-wrapper">
                    <input type="email" name="email" placeholder="Email Address" class="form-control" required>
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input type="text" name="code" placeholder="Code" class="form-control" required>

                </div>
                <div class="form-wrapper">
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" required>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button style="background-color: rgb(3, 3, 68);" type="submit">Login
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
            </form>
        </div>
    </div>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>